@import "tailwindcss";

body {
    scroll-behavior: smooth;
    
}
@custom-variant dark (&:where(.dark, .dark *));


@theme {
    --color-light: #22262E;
    --color-link-light:#454D5D;
}

:root {
    --bg-btn-primary: #155DFC;
    --text-btn-primary: #fff;
}

.primary{
    font-size: .85rem;
    font-weight: 600;
    border-radius: .4rem;
}